body {
	background-image: url(background.jpg);
	background-size: cover;
}

h1 {
	color: rgba(178, 178,  178, 0.3);
	font-size: 100px;
	font-family: 'Lobster', cursive;
	text-align: center;
}